<div id="modal">
<p><em>All Instructions: Please email the items below to <a href="mailto:apply@royalbusinessacademy.org?Subject=Application Materials" target="_top">apply@royalbusinessacademy.org</a></em></p>
<h1>Photo Upload</em></h1>
<span ng-click="amc.close()" class="glyphicon glyphicon-remove close-modal"></span>
<p class="main-text-about">Please email us a photograph of that can be used for our program directory. The photo should be a close-up of your head and shoulders and should be at least 500 pixels tall and 500 pixels wide.</p>
<center><p class="main-text-about"><strong>Please email the photograph file in '.jpg' format.</strong></p></center>

<hr />

<h1>Curriculum Vitae</h1></h1>
<span ng-click="amc.close()" class="glyphicon glyphicon-remove close-modal"></span>
<p class="main-text-about">Please send us a summary of your professional and educational background. Make sure to include the following:
	<ul>
		<li>Your name, address, phone number, and email address</li>
		<li>At least 6 keywords that best describe your professional strengths or abilities</li>
		<li>Names, dates, and a brief description of each of your prior jobs</li>
		<li>Names and dates of all colleges, universities or other post-secondary institutions or programs attended</li>
	</ul>
</p>
<center><p class="main-text-about"><strong>Please email the Curriculum Vitae file in '.pdf' format.</strong></p></center>

<hr />

<h1>Personal Biography</h1>
<span ng-click="amc.close()" class="glyphicon glyphicon-remove close-modal"></span>
<p class="main-text-about">Write an autobiographical statement to be shared with others in the program. Please <strong>do not</strong> exceed one page. Please include the following information:</p>
<p class="main-text-about"><strong>Paragraph 1:</strong>
	<ul>
		<li>Your full name</li>
		<li>Your age and month of birth</li>
		<li>Your city and country of residence</li>
		<li>Your primary language and any other langauges you speak</li>
		<li>Your marital status -- single, married, divorced (if you have children, please tell us how many)</li>
		<li>Interesting details about you and your life, such as what makes you unusual and what others would like to know about you if they knew to ask</li>
	</ul>
</p>
<p class="main-text-about"><strong>Paragraph 2:</strong> &nbsp;Describe one of your greatest accomplishments. Please include details about your specific actions.</p>
<p class="main-text-about"><strong>Paragraph 3:</strong> &nbsp;Describe a life-changing or course-altering experience in your life. Please provide details about what happened and how it influenced you. <em>Sometimes such experiences are personally important but not public -- people around us may not even know what is happening.</em></p>
<center><p class="main-text-about"><strong>Please email the Personal Biography file in '.pdf' format.</strong></p></center>

<hr />


<h1>Personal Reference</h1>
<span ng-click="amc.close()" class="glyphicon glyphicon-remove close-modal"></span>
<p class="main-text-about">Please provide us with a letter from a relative, friend, or other acquaintance. This letter is a character reference and should describe your strengths and personality traits.</p>
<center><p class="main-text-about"><strong>Please email the Personal Reference file in '.pdf' format.</strong></p></center>

<hr />

<h1>Professional Reference</h1>
<span ng-click="amc.close()" class="glyphicon glyphicon-remove close-modal"></span>
<p class="main-text-about">Please provide us with a letter from a prior employer. This letter should describe your professional abilities.</p>
<center><p class="main-text-about"><strong>Please email the Professional Reference file in '.pdf' format.</strong></p></center>
<br /><br />
</div>
