<div class="container" id="about">
	
	<div class="page-title">
		<center><img src="assets/logo.png" width="150px"></center>
		<h1>About Royal Business Academy</h1>
	</div>

		<div class="wrapper video-wrapper">
		  <iframe src="https://player.vimeo.com/video/143327460?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

		<div class="icons-about row">
			<div class="col-md-4">
				<img src="assets/paper.svg">
				<p class="main">Online Learning</p>
				<p class="main-text">Validate your business model through online coursework and assignments</p>
		  </div>
		  <div class="col-md-4">
				<img src="assets/building.svg">
				<p class="main">Total Immersion</p>
				<p class="main-text">Learn from personal mentors during our intensive residential program</p>
		  </div>
		  <div class="col-md-4">
				<img src="assets/grow.svg">
				<p class="main">Ongoing Mentoring</p>
				<p class="main-text">Strengthen your role as a leader in your community and profession</p>
		  </div>
	  </div>


	  <p class="main-text-about">
	  	Royal Business Academy (RBA) is an intensive business training program where participants learn proven principles for launching and growing a successful business. The program is designed for individuals with an entrepreneurial mindset and includes online learning and a 4-week residential program in the Czech Republic.<br /><br /><b>Participants will:</b>
	  </p>

	  <ul>
	  	<li>Study and learn to apply key business management tools and principles that have significance in today's rapidly changing environment.</li>
	  	<li>Develop skills in critical thinking and problem solving.</li>
	  	<li>Strengthen their presentation, communication, and marketing skills.</li>
	  	<li>Develop leadership skills needed to manage their own company.</li>
	  	<li>Gain an appreciation of business ethics and the importance of personal integrity.</li>
	  	<li>Establish a personal network by developing lasting relationships with peers and mentors, and by learning new networking skills.</li>
	  	<li>Acquire entrepreneurial skills while developing and executing a viable business plan for a new or existing business.</li>
	  	<li>Spend one-on-one time with successful business owners.</li>
	  	<li>Become innovative and find solutions to real world problems.</li>
	  	<li>Identify immediate personal application and apply lessons leaarned.</li>
	  	<li>Increase their creativity.</li>
		<li>Break away from confining personal barriers.</li>
	  	<li>Define their professional vision, set SMART goals, and be accountable.</li>
	  	<li>Receive step-by-step instructions on finding a business idea, validating assumptions, and growing a business.</li>
		<li>No longer look at providing for their family as an impossible or stressful task.</li>
	  	<li>Learn how to stay motivated through hard times.</li>
	  </ul>

	  <h2><i class="fa fa-graduation-cap"></i>Class of 2016</h2>

	  <ul>
	  	<li>Enrollment Deadline:&nbsp;&nbsp;&nbsp;&nbsp;<b>February 15, 2016</b></li>
	  	<li>Maximum Enrollment:&nbsp;&nbsp;<b>30 participants</b></li>
	  	<li>Program Location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Czech Republic</b></li>
	  	<li>Online Assignments:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>March 1, 2016 through June 30, 2016</b></li>
	  	<li>Residential Program:&nbsp;&nbsp;&nbsp;&nbsp;<b>July 11, 2016 through August 5, 2016</b> (Participants are required to attend the entire residential program.)</li>
	  	<li>Program Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>1020 EUR</b> (Includes: application fee, online curriculum and course materials, residential tuition, accommodations, and food. Our not-for-profit fundation has scholarships available for anyone who can't afford to pay the required amount. Please <a href="#/contact">contact us</a> to request a scholarship.)</li>
	  </ul>

	  <p class="main-text-about" style="margin-left:40px"><strong>About the Cost</strong><br />The real cost for us to operate this program is significantly higher than the tuition you are asked to pay. However, we want the program to be available to EVERY young man and young woman who wishes to become an outstanding leader in their community. <u>How can we afford to do this?</u> We believe that if you follow the principles we teach, your business will be successful. In exchange for your ability to attend this program at a reduced price, we invite you to offer us a small amount of ownership in the business you create during the program. This way, our success is dependent on helping you be as successful as possible.</p>



</div>