<div class="container" id="courses">
	<div class="page-title">
		<h1>Course Outline</h1>
	</div>

	<div class="row">
		<div class="col-sm-12 ad">
		<img class="big-icon" src="assets/building.svg">
	</div>

<div class="row">
		<div class="col-sm-12">
			<p class="main-text-about">RBA’s online curriculum introduces students to the principles and problems found in everyday business, including finance, marketing, operations, HR, and supply chain management. After acquiring foundational business skills, students apply those skills during the residential program by developing a business plan, testing their asssumptions, and launching their own business. </p>

			<h2><i class="fa fa-calendar"></i>Course Topics</h2>

			<p class="main-text-about">In addition to the course material listed below, the residential program includes intensive business instruction, case study review, team-building activities, hands-on interactions with successful entrepreneurs, local business visits, friendly competitions, service opportunities, and excursions for fun and learning.</p>

		<div class="col-sm-6 week-schedule">

			<h4>Ethics & Values</h4>
			<p>Core Values, Staying Principle-Centered<br />Business Ethics, Giving Back</p>

			<h4>Accountability</h4>
			<p>Self Reliance, Business 101<br />Reporting Strategies</p>			

			<h4>Finances</h4>
			<p>Forecasting, Financial Statements<br />Financial Analysis</p>	

			<h4>Business Models</h4>
			<p>Retail, E-commerce, Manufacturing<br />Direct Marketing, Consulting, Technology Transfer</p>			

		</div>

		<div class="col-sm-6 week-schedule">

			<h4>Business Formation</h4>
			<p>Governance, Business Structures<br />Business Partnerships, Negotiating</p>			

			<h4>Operations</h4>
			<p>Human Resources, Hiring & Firing<br />Compensation & Benefits Models</p>			

			<h4>Sales & Marketing</h4>
			<p>Online Advertising, Social Media<br />Email, Guerilla Marketing</p>			

			<h4>Launching Strategies</h4>
			<p>Lean Startup, Minimum Viable Product<br />How to Validate Assumptions</p>			

		</div>		
		<div class="col-sm-6">
		</div>

	
		</div>
	</div>
			<h2><i class="fa fa-sitemap"></i>Teamwork & Mentoring</h2>

			<p class="main-text-about">Teamwork and mentoring are a significant part of the program. Students are assigned to a learning team starting the first day of the program. In addition to your assigned learning team, the classroom itself is intended to function as a large learning team, with opportunities provided to work and connect with your colleagues across the entire class.</p>
</div>


