<div id="faq" class="page-title">
	<h1>Frequently Asked Questions</h1>
	<p class="page-text"></p>

<div class="accordian animated fadeInDown">
 <accordion close-others="false">

    <accordion-group heading="HOW DO I LEARN MORE ABOUT THE PROGRAM?">
      To learn more about RBA please complete the <a href="#/contact">contact</a> form.
    </accordion-group>

    <accordion-group heading="HOW DO I SIGN UP?">
      The application process is very straight-forward and can be completed in just a few minutes. In addition to the online application form, you'll be asked to submit a photo of yourself, curriculum vitae, a personal biography, a personal reference, and a professional reference. In additiona, you application will not be considered complete until we receive payment of the 20 EUR application fee (an invoice will be sent to you through PayPal once we have received your applicaiton materials. Click here to <a href="#/apply">apply</a>.
    </accordion-group>

    <accordion-group heading="HOW MANY STUDENTS WILL PARTICIPATE?">
      This is a unique program that involves a high degree of personal mentoring. In order to provide all participants with the best possible experience, enrollment is limited to 30 participants. Please note that applications are reviewed in the order they are received.
    </accordion-group>

    <accordion-group heading="HOW MUCH DO I HAVE TO PAY?">
      Your total cost for the program is 1020 EUR. Your cost includes tuition, course materials, accommodations, food, and all other expenses associated with the program. Payments are required as follows:<br /><br /> 
        <div style="padding-left:40px">
        &middot; 20 EUR is due when applying for enrollment<br />
        &middot; 100 EUR is due by February 15<br />
        &middot; 450 EUR is due by April 15<br />
        &middot; 450 EUR is due by May 31<br /><br />
        </div>
      <u>SPECIAL NOTE</u><br />In addition to your 1020 EUR payments, we invite you to offer RBA a small amount of ownership in the business you create during the program. In this way, we can ensure that RBA will continue to be available to others after you graduate.<br /><br /><small>Our not-for-profit foundation has scholarships available for those who can't afford to pay the full amount. Please <a href="#/contact">contact us</a> to request a scholarship.</small>
    </accordion-group>

    <accordion-group heading="WHY IS THE PROGRAM SO INEXPENSIVE?">
      The real cost for us to operate this program is significantly higher than the tuition you are asked to pay. However, we want the program to be available to EVERY young man and young woman who wishes to become an outstanding leader in their community.<br /><br /><u>How can we afford to do this?</u><br />We believe that if you follow the principles we teach, your business will be successful. In exchange for your ability to attend this program at a reduced price, we invite you to offer us a small amount of ownership in the business you create during the program. This way, our success is dependent on helping you be as successful as possible.
    </accordion-group>

    <accordion-group heading="WHAT OTHER EXPENSES WILL I HAVE?">
      We pay for ALL expenses related to the program including tuition, educational materials, travel during the program, meals, and accommodations. Your only additional expenses will be for personal spending and for your travel between your home and our facility in the Czech Republic.
    </accordion-group>          

    <accordion-group heading="CAN I PAY BY CREDIT CARD?">
      Yes, all payments can be made by credit card through PayPal.
    </accordion-group>   

    <accordion-group heading="WHO ARE THE MENTORS?">
      At Royal Business Academy you will learn from mentors who have built and managed successful businesses. They come to RBA to share their wealth of knowledge and experience and to personally mentor participants. Click the <a href="#/faculty">Mentors</a> link to learn more.
    </accordion-group>   

    <accordion-group heading="WILL I RECEIVE A CERTIFICATE OF COMPLETION?">Yes. All participants receive either a Certificate of Participation or a Certificate of Completion. RBA is a private business education program and is not formally accredited. Although you will receive a formal certificate of completion as recognition of your accomplishment, the real crowning achievement of our program is for YOU to have your OWN SUCCESSFUL BUSINESS.</accordion-group>                 

    <accordion-group heading="DO I NEED TO SPEAK ENGLISH?">Yes. A basic knowledge of conversational English is essential. All courses and assignments are in English.</accordion-group>     

    <accordion-group heading="WILL I NEED A PASSPORT OR VISA?">The program is located in the Czech Republic. As part of the program, we may also travel to surrounding countries within the European Union. You are responsible to ensure that you have a valid passport and the proper visas, if necessary, for travel within the European Union.</accordion-group>                       



  </accordion>



</div>





</div>
