<video width="100%" autoplay loop bind-video-size>
  <source src="eu.mp4" type="video/mp4">
  <source src="eu.ogg" type="video/ogg">
  <source src="eu.webm" type="video/webm">  	
</video>
<div class="jumbotron" ng-style="{'height':hc.dimensions.height}">
  <h1>Royal Business Academy</h1>
  <h2>Business Education and Mentoring for Young Adults Throughout the World</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ng-click="hc.goToAbout()">Learn More</button></h2>
</div>

<div class="jumbotron-sm">
  <h1>Royal Business Academy</h1>
  <h2>Business Education and Mentoring for Young Adults Throughout the World</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ng-click="hc.goToAbout()">Learn More</button></h2>
</div>
