<div id="philosophy">
<div class="page-title">
	<h1>The RBA Philosophy</h1>
</div>
	<div class="icons row">
		<div class="col-sm-4">
			<img src="assets/responsible.svg">
			<p>Responsiblity</p>
	  </div>
	  <div class="col-sm-4">
			<img src="assets/balance.svg">
			<p>Balance</p>
	  </div>
	  <div class="col-sm-4">
			<img src="assets/check.svg">
			<p>Action</p>
	  </div>
  </div>
  <div class="row mission-statement-container">
  	<div class="col-md-12 mission-statement">
		<h2>Mission Statement</h2>
			<p class="main-text-about">Royal Business Academy strengthens families and communities by providing business education and mentoring to young adults throughout the world and by helping them establish and grow their own successful businesses.
			</p>
			<p class="main-text-about">Our goal is to attract young men and young women of character and professional ability who wish to -</p>
			<ul>
				<li>Become outstanding leaders in their communities</li>
				<li>Learn new business skills from experienced and successful mentors</li>
				<li>Use the opportunity to start or grow their own business</li>
				<li>Learn skills that will help them develop and strengthen their role as a leader in their family, community, and profession</li>
			</ul>

		</div>
<!-- 		<div class="col-md-4 hidden-sm hidden-xs">
				<img class="mission-statement-img" src="assets/professionals.jpg">
		</div> -->
		</div>
	</div>
</div>
</div>

